<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CS340 Project Step 3</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/types">Types</a> |
      <a href="/pokemon">Pokemon</a> |
      <a href="/trainers">Trainers</a> |
      <a href="/locations">Locations</a> |
      <a href="/captures">Captures</a>
    </nav>

    <hr />

    {{{body}}}
  </body>
</html>
