<h1>Bill's PC Pokemon Database</h1>
<p>Index of UI pages</p>

<ul>
  <li><a href="/types">Manage Types</a> — Browse / Add / Update / Delete</li>
  <li><a href="/pokemon">Manage Pokemon</a> — Browse / Add / Update / Delete</li>
  <li><a href="/trainers">Manage Trainers</a> — Browse / Add / Update / Delete</li>
  <li><a href="/locations">Manage Locations</a> — Browse / Add / Update / Delete</li>
  <li><a href="/captures">Manage Captures</a> — Browse / Add / Update / Delete (Relationships)</li>
</ul>
